/.849C9593-D756-4E56-8D6E-42412F2A707B
/.vscode
/2024
/Attachments
/ChudamaniSunani-126346527-1.pdf
/css flexbox and grid
/css shape
/CSS1
/css2
/Desktop
/desktop.ini
/Document 1.docx
/Document 2.docx
/Document 3.docx
/Document 4.docx
/Document 5.docx
/Document.docx
/DS
/eCommerce is all about maximising y.txt
/game
/game.zip
/hero-sec
/HTML
/HTML2
/JAVA
/jio
/JS
/landing page
/mjs
/ms word
/my first java
/MyJavaFolder
/New
/New folder
/New folder (2)
/P.JS
/Personal Vault.lnk
/Pictures
/program
/PROJECT
/project01
/project2
/python
/Repair  corrupt pendrive.txt
/Tailwind css
/todolist
/todolist.zip